<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intentus NextGen</title>
    <!--
      Remove this if you only support browsers that support async/await.
      This is needed by babel to share largeish helper code for compiling async/await in older
      browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
    -->
    <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
    <!--
      This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
      Learn more about CSP policies at https://content-security-policy.com/#directive
    -->
    <meta http-equiv="Content-Security-Policy"
          content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">
    <meta name="importmap-type" content="systemjs-importmap"/>
    <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
    <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
    <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

    <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

    <% if (isLocal) { %>
        <script type="systemjs-importmap">
    {
      "imports": {
          "react": "https://cdn.jsdelivr.net/npm/react@17.0.1/umd/react.development.js",
          "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@17.0.1/umd/react-dom.development.js",
          "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
          "@OnestyTech/root-config": "http://localhost:9000/OnestyTech-root-config.js",
          "@OnestyTech/intentus-nextgen-navbar": "http://localhost:9001/OnestyTech-intentus-nextgen-navbar.js",
          "@OnestyTech/intentus-nextgen-sidebar": "http://localhost:9002/OnestyTech-intentus-nextgen-sidebar.js",
          "@OnestyTech/intentus-nextgen-dashboard": "http://localhost:9003/OnestyTech-intentus-nextgen-dashboard.js",
          "@OnestyTech/intentus-nextgen-app1": "http://localhost:9004/OnestyTech-intentus-nextgen-app1.js",
          "@OnestyTech/intentus-nextgen-app2": "http://localhost:9005/OnestyTech-intentus-nextgen-app2.js",
          "@OnestyTech/intentus-nextgen-app3": "http://localhost:9006/OnestyTech-intentus-nextgen-app3.js",
          "@Barmenia/oa-tier": "https://ssl0.barmenia.de/oa-tier/#/Beitrag",
          "@Barmenia/oa-rs": "https://ssl0.barmenia.de/oa-rs/#/Beitrag"
        }
    }

        </script>
    <% } else { %>
        <script type="systemjs-importmap" src="/importmap.json"></script>
    <% } %>

    <!--
      If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
      Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
    -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
    <% if (isLocal) { %>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
    <% } else { %>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
    <% } %>

    <!--  Bosstrap 4 styling-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
<div id="nav-container"></div>
<main>
    <div class="row">
        <div id="sidenav-container" class="col-3"></div>
        <div id="main-container" class="col-9"></div>
    </div>
</main>
<script>
    System.import('@OnestyTech/root-config');
</script>
<import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
